target/classes/httpsample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8fd35484-9bec-4256-a6b4-d92709d5e054" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="0fb959ee-1750-4e1e-bc18-96e1e734eb7d" file="mule-app.properties" />
	<flow name="httpsampleFlow" doc:id="bc9e33a2-5b8d-4bd2-8883-c25096cbaeae" >
		<http:listener doc:name="Listener" doc:id="2df0bec1-dbf3-4089-86e1-c3aadfe9b5f4" config-ref="HTTP_Listener_config" path="/test/check" allowedMethods="POST" outputMimeType="application/xml"/>
		<logger level="INFO" doc:name="Logger" doc:id="15e838e0-2a9b-46be-9017-b997fbdf09bf" message="#[payload]"/>
		<set-payload value='#["Hi Sriram"]' doc:name="Set Payload" doc:id="3929b92a-e24d-4c51-bebe-ac13804ccb11" />
	</flow>
</mule>
